page-scroll-colours {

@font-face {
    font-family: "HelveticaNeue-CondensedBlack";
    src: url(../../assets/fonts/HelveticaNeue-CondensedBlack.ttf) format('truetype');
}

@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url(../../assets/fonts/HelveticaNeue-Bold.ttf) format('truetype');
}

.container{
  text-align: center;
}

.block{
  height: 280px;
  background-image: url(../../assets/images/cruz.png);
  background-position: center;
  background-size:cover;
  font-family: "HelveticaNeue-Bold";
  color: white;
  padding-top: 60px;
  font-size: 2.1em;
  position: relative;
    line-height: 1;
}

.raimundoBox{
 width: 100%;
}

.raimundoIcon{
  width: 4.2em;
}

.checkMarkBox{
 position: absolute;
 bottom: 5%;
 width: 100%;
}

.checkIcon{
  width: 2.7em;
}

.emphasis{
  font-size: 1.8em;
}

.continueButton3{
  margin-top: 0;
}

#topBlock{
  height: 250px;
  color: white;
  padding-top: 60px;
  font-size: 2em;
  position: relative;
  line-height: 1;
  padding-top: 0;
  background-color: rgb(0, 183, 251);
  font-family: "HelveticaNeue-CondensedBlack";
  font-size: 2.5em;
  position: relative;
}

.peakBox{
  position: absolute;
  border-bottom: -50px;
  max-width: 50px;
  max-height: 50px;
  right: 45%;
  z-index: 2;
}


.continueButtonScroll {

  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  background-color: rgb(0, 106, 165);
  text-transform: none;
  width: 100%;
  font-size: 23px;
  font-weight: bold;
  border-radius: 0;
}

#blue{
  background-color: rgb(25, 143, 255);
}

#red{
  background-color: rgb(255, 99, 72);
}

#green{
  background-color: rgb(0, 253, 180);
}

#yellow{
  background-color: rgb(223, 250, 0);
}

#orange{
  background-color: rgb(255, 162, 63);
}

#grey{
  background-color: rgb(179, 208, 218);
}

}
