
@font-face {
    font-family: "HelveticaNeue-CondensedBold";
    src: url(../../assets/fonts/HelveticaNeue-CondensedBold.ttf) format('truetype');
}

  .container {
    background-color: rgb(224, 248, 254);
    background-image: url(../../assets/images/Inicio_0004s_0003s_0000__Recortar-grupo_.png);
    background-position: center;
    background-size: cover;
    min-height: 100%;
    position: relative;
  }

    ion-col div {
      background-color: #f0f5ff;
      border: 1px solid #e6e9ee;
      border-radius: 2px;
      padding: 5px;
      text-align: center;
    }

    p {
      padding: 10px 0 0 10px !important;
      margin: 0;
    }

    #logoInicioCMBox{
      text-align: left;
      padding-top: 7vw;
      padding-left: 3vw;
    }

    #logoInicioCM{
      width: 20vw;
    }

    #welcomeHeader{
      clear: both;
      font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 2.5em;
      color: rgb(0, 106, 165);
    }

    #welcomeText{
      font-size: 1.4em;
      color: rgb(0, 106, 165);
      text-align: left;
    }
    #welcomTextRed{
      color: rgb(180, 0, 43);
      font-weight: bold;
    }

    .button{
      width: 80vw;
      font-weight: bold;
    }

.buttonBox{
  text-align: center;
}
    .signUp{
      margin-top: 8vh;
      color: white;
      background-color: rgb(0, 106, 165);
      text-transform: none;
      border-radius: 10px;
      height: 7.5vh;
      font-size: 23px;
    }

    .logIn{
      color: rgb(0, 106, 165);
      background-color: white;
      border: 0.2px solid rgb(0, 106, 165);
      text-transform: none;
      border-radius: 10px;
      height: 7.5vh;
      font-size: 23px;
    }

#footText{
  text-align: center;
  color: rgb(0, 106, 165);
  font-size: 0.8em;
  margin-top: 4vh;
  padding-bottom: 60px;
}


#footerBox{
text-align: center;
height: 60px;
vertical-align: middle;
background-color: white;
padding-top: 10px;
padding-bottom: 5px;
position: absolute;
bottom: 0;
}

.footerPicBox1{
  width: 19%;
  vertical-align: middle;
  display: inline-block;
}

.footerPicBox2{
  width: 39%;
  padding-top: 2%;
  vertical-align: middle;
  display: inline-block;
}
